## Reading and pre-processing data

In [13]:
#imports

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sys

sys.path.append(".")
sys.path.append("..")

from extract_dataframe import read_json
from extract_dataframe import TweetDfExtractor
from clean_tweets_dataframe import Clean_Tweets

In [14]:
# reading data
df = pd.read_csv('../data/processed_tweet_data.csv')
clean_tweets = Clean_Tweets(df)
df.to_csv('../data/processed_tweet_data.csv', index=False)

Automation in Action...!!!

In [15]:
df = pd.read_csv('../data/processed_tweet_data.csv')
df.head()

,created_at,source,original_text,polarity,subjectivity,lang,favorite_count,retweet_count,original_author,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place
0,Sun Aug 07 22:31:20 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @i_ameztoy: Extra random image (I):\n\nLets...,-1.250000e-01,0.190625,en,15760,2,i_ameztoy,20497,2621,NaN,"[{'text': 'City', 'indices': [132, 137]}]","[{'screen_name': 'i_ameztoy', 'name': 'Iban Am...",NaN
1,Sun Aug 07 22:31:16 +0000 2022,"<a href=""http://twitter.com/download/android"" ...",RT @IndoPac_Info: #China's media explains the ...,-1.000000e-01,0.100000,en,6967,201,ZIisq,65,272,NaN,"[{'text': 'China', 'indices': [18, 24]}, {'tex...","[{'screen_name': 'IndoPac_Info', 'name': 'Indo...",NaN
2,Sun Aug 07 22:31:07 +0000 2022,"<a href=""http://twitter.com/download/android"" ...","China even cut off communication, they don't a...",0.000000e+00,0.000000,en,2166,0,Fin21Free,85,392,NaN,"[{'text': 'XiJinping', 'indices': [127, 137]}]","[{'screen_name': 'ZelenskyyUa', 'name': 'Волод...",Netherlands
3,Sun Aug 07 22:31:06 +0000 2022,"<a href=""http://twitter.com/download/android"" ...","Putin to #XiJinping : I told you my friend, Ta...",1.000000e-01,0.350000,en,2166,0,Fin21Free,85,392,NaN,"[{'text': 'XiJinping', 'indices': [9, 19]}]",[],Netherlands
4,Sun Aug 07 22:31:04 +0000 2022,"<a href=""http://twitter.com/download/iphone"" r...","RT @ChinaUncensored: I’m sorry, I thought Taiw...",-6.938894e-18,0.556250,en,17247,381,VizziniDolores,910,2608,NaN,[],"[{'screen_name': 'ChinaUncensored', 'name': 'C...","Ayent, Schweiz"

In [16]:
# polarity
pol= df[['polarity', 'original_text']]
pol.head(10)

       polarity                                      original_text
0 -1.250000e-01  RT @i_ameztoy: Extra random image (I):\n\nLets...
1 -1.000000e-01  RT @IndoPac_Info: #China's media explains the ...
2  0.000000e+00  China even cut off communication, they don't a...
3  1.000000e-01  Putin to #XiJinping : I told you my friend, Ta...
4 -6.938894e-18  RT @ChinaUncensored: I’m sorry, I thought Taiw...
5  2.000000e-01  RT @benedictrogers: We must not let this happe...
6  1.583333e-01  RT @TGTM_Official: What kind of country can co...
7  0.000000e+00  RT @ChinaInfo777: #PinkFloyd singer Roger Wate...
8  0.000000e+00  RT @AmbQinGang: China's SC&amp;FM Wang Yi elab...
9  2.000000e-01  RT @CGMeifangZhang: Chinese ambassador to the ...

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   created_at          22000 non-null  object
 1   source              22000 non-null  object
 2   original_text       22000 non-null  object
 3   polarity            22000 non-null  float64
 4   subjectivity        22000 non-null  float64
 5   lang                22000 non-null  object
 6   favorite_count      22000 non-null  int64
 7   retweet_count       22000 non-null  int64
 8   original_author     22000 non-null  object
 9   followers_count     22000 non-null  int64
 10  friends_count       22000 non-null  int64
 11  possibly_sensitive  6191 non-null   object
 12  hashtags            22000 non-null  object
 13  user_mentions       22000 non-null  object
 14  place               12107 non-null  object
dtypes: float64(2), int64(4), object(9)
memory usage: 2.5+ MB

In [18]:
df.describe()

,polarity,subjectivity,favorite_count,retweet_count,followers_count,friends_count
count,22000.000000,22000.000000,2.200000e+04,22000.000000,2.200000e+04,22000.000000
mean,0.061325,0.283839,3.791884e+04,177.295636,1.796764e+04,1563.114455
std,0.223701,0.290963,8.952426e+04,498.320518,3.030478e+05,4358.651264
min,-1.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000
25%,0.000000,0.000000,8.657500e+02,3.000000,5.700000e+01,137.000000
50%,0.000000,0.200000,7.133000e+03,39.000000,2.840000e+02,487.000000
75%,0.133333,0.468824,3.425750e+04,187.000000,1.324500e+03,1599.000000
max,1.000000,1.000000,1.717879e+06,17409.000000,1.449852e+07,208360.000000

### Data Cleaning and Pre-processing

In [19]:
clean_tweets = Clean_Tweets(df)
clean_tweets.df.shape

Automation in Action...!!!

(22000, 15)

#### Remove non-english tweets

In [24]:
df = clean_tweets.remove_non_english_tweets(df=df)

#### Remove duplicated rows

In [25]:
df = clean_tweets.drop_duplicate(df)
df.shape

(21997, 15)

In [26]:
df["source"] = clean_tweets.extract_device_name(df)

In [27]:
# save clean tweets
clean_tweets.df.to_csv('../data/processed_tweet_data.csv', index=False)
print("SAVED SUCCESSFULLY")

SAVED SUCCESSFULLY